.App {
  text-align: center;
}


.glassmorphism-form {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.17);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.rotate-y-180 {
  transform: rotateY(180deg);
}


/* Custom blaster button style */
/* Custom styling for the container and button */
.confetti-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.confetti-button {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #3490dc;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1;
}

/* Style for the Confetti component (no need to modify) */
.react-confetti {
  position: absolute;
  top: 0;
  left: 0;
}

